h1{
    color:purple;
    font-size: 3em;
}

#content {
    width:50%;
    margin:auto;
}

#byline {
    font-family:"Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

#image text{
    font-size: 0.8em;
}

/* mobile rules */
@media(orientation:portrait) {
    #content {
        width: 100%;
    }
    body {
        font-size: 1em;
    }
}