html, body { margin:0; padding:20px; height:100%; }
/* changed button shape through border-radius */
button { height: 50px; width: 60px; border-radius: 50%; border: 1px; text-align: center; display: incline-block}
      
.italian { background:#B8C6D9; color:#000; }
.sushi  { background:#d5bdaf; color:#000; }
.steak { background:#eac4d5; color:#000; }
.indian { background:#aed9e0; color:#000; }
.french  { background:#d3c2ce; color:#000; }
.tapas { background:#d2dad6; color:#000; }
.mexican { background:#e76f51; color:#000; }
.seafood { background:#efd7d9; color:#000; }
    
.item {
/* changed height and width of boxes */
padding:15px; margin:10px 0; height: 230px; width: 225px;
font-size:20px; border-radius:10px;}
.italian.item { background:#B8C6D9; }
.sushi.item  { background:#d5bdaf; }
.steak.item { background:#eac4d5; }
.indian.item { background:#aed9e0; }
.french.item { background:#d3c2ce; }
.tapas.item { background:#d2dad6; }
.mexican.item { background:#d2dad6; }
.seafood.item { background:#efd7d9; }
    
.item.hidden { display:none; }

/* made container for flex */
.container{
      display: flex;
      flex-wrap: wrap;
}

.container div{
      margin: 10px;
      padding: 10px;
}

